body {
    font-family: 'Roboto', sans-serif;
    background-color: #d8d4b8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.catgirl-image {
    width: 80%;
    height: auto;
}

.footer {
    display: flex

}

.footer p {
    padding: 10px
}
